body{
	font-family: 'Roboto Condensed', sans-serif;
	margin-left: 0px;
	margin-right: 0px;
	background-image:url("https://th.bing.com/th/id/R.0fa9ae90c420c342a143996ceb7f87b0?rik=8%2f746MQohuBJcg&riu=http%3a%2f%2fmedia.steampowered.com%2fsteamcommunity%2fpublic%2fimages%2fitems%2f730%2fef7cb44d312df5038cba0f69a0901da427900645.jpg&ehk=yi6D3jI5zsi6RfK%2beZyaYOZx6JJCciaG0KdhLuIyxzw%3d&risl=&pid=ImgRaw&r=0");
}

.grandtitre{
	text-align: center;
	font-size: 250%;
	margin-top: -8px;
	padding-right: 32.5%;
	padding-top: 15px;
	
}
header{
	background-color: orange;
	height: 250%;
}
header img{
	height: 60px;
	float: left; 
	padding-left: 35%;
	padding-top: 0.75%
}
.mainpage{
	display: flex;
	justify-content: space-around;
}
.mainpage a{
	text-align: center;
	background-color: white;
	width: calc(100% / 4 - 30px);
	box-sizing: border-box;
	border:2px solid black;
	padding: 0.5% 0.5%;
}
#1section{
	display: flex;
}
.mainblock{
	background-image:url("https://i.pinimg.com/originals/71/4d/bd/714dbd1da04073d98fc42709ae678309.jpg");
	display: inline-flex;
}